
<% if @template_one.front_end_colour == 'red' %>
  <%= stylesheet_link_tag 'themes/w3', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% else %>
  <%= stylesheet_link_tag 'themes/bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>
<div class = "container">
<p>
  <strong>This is my web page:</strong>
  <%= @template_one.about_title %>
  <% if @template_one.about_show == true %>
    <%= @template_one.about_text %>
    <%= image_tag @template_one.about_image_url() %>
    <% end %>
</p>
</div>


<%= link_to 'Edit', edit_template_one_path(@template_one) if current_user.try(:admin?) %> |
<%= link_to 'Back', template_ones_path %>
